html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.preview {
    position: relative;
}

.preview .background img {
    width: 750px;
}

.preview .blocks {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.preview .block {
    display: inline-block;
    box-sizing: content-box;
    background: rgba(255, 255, 255, .5);
    border: 1px dashed #000;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 1;
}
.preview .block .remove {
    position: absolute;
    top: -8px;
    right: -8px;
    color: #fff;
    background: red;
    height: 16px;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

.jsListBlockInfo input {
    width: 50px;
}
.preview .block .form {
    display:none
}

.table select {
    height: 26px;
}

.certificate-view img {
    width: 100%;
}

.template-settings {
   padding: 20px 0;
}

.template-settings #ajaxLoader {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    color: #fff;
    font-size: 56px;
}